.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sprites {
	pointer-events: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
    	opacity: 0;
    }
}

.dead {
	animation: blink 0.6s forwards;
  animation-iteration-count: 1;
}

.button {
	position: relative;
	float: right;
	transition-duration: 0.4s;
	color: #218838;
	border-radius: 0.6rem;
	background: transparent;
	border-color: #218838;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
}

.button:focus {
	outline-color: transparent;
}

#starter {
	color: #218838;
	border-radius: 0.6rem;
	background: transparent;
	border-color: #218838;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
}

#starter:focus {
	outline-color: transparent;
}

#starter:disabled, starter[disabled] {
	background-color: #e5e5e5;
	pointer-events: none;
}

.grid {
	position: absolute;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
}

@media only screen and (min-width: 404px) {

	.game {
		margin: 0 auto;
		margin-top: 1rem;
		width: 404px;
		height: auto;
		text-align: center;
	}

	 #logo {
	 	height: 80px;
	 	width: auto;
	 	margin-bottom: 1.5rem;
	 }

	.box {
	  margin-left: auto;
	  margin-right: auto;
		background: #009900;
		border-width: 1px;
		width: 100px;
		height: 100px;
	}

	.grid {
		background-color: #006d00;
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 404px;
		height: 404px;
	}

	.imagesGrid {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 404px;
		height: 404px;
  }

	.button:hover {
		transition-duration: 0.4s;
		color: white;
		background: #218838;
		cursor: pointer;
	}

	.button {
		margin-top: 1rem;
		width: 6rem;
		height: 2rem;
		font-size: 1rem;
	}

	.sprites {
		position: absolute !important;
 		width: 100px;
		height: 100px;
		transition-duration: 0.3s;
	}

	#starter  {
		transition-duration: 0.4s;
		margin-top: 420px;
		width: 6rem;
		height: 2rem;
		font-size: 1rem;
	}

	#starter:hover {
		transition-duration: 0.4s;
		color: white;
		background: #218838;
		cursor: pointer;
	}
}

@media only screen and (max-width: 404px) {

	.game {
		margin: 0 auto;
		margin-top: 4vw;
		width: 91vw;
		height: auto;
		text-align: center;
	}

	#logo {
	 	height: 20vw;
	 	width: auto;
	 	margin-bottom: 5vw;
	 }

	.box {
	  margin-left: auto;
	  margin-right: auto;
		background: #009900;
		width: 22.5vw;
		height: 22.5vw;
	}

	.grid {
		background-color: #006d00;
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 91vw;
		height: 91vw;
	}

	.imagesGrid {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 91vw;
		height: 91vw;
	}

	.button {
		margin-top: 3vw;
		width: 30vw;
		height: 10vw;
		font-size: 5vw;
	}

	#starter  {
		transition-duration: 0.4s;
		margin-top: 94vw;
		width: 30vw;
		height: 10vw;
		font-size: 5vw;
	}

	.sprites {
		position: absolute;
		width: 22.5vw;
		height: 22.5vw;
		transition-duration: 0.3s
	}
}