.navbar {
	background-color: #20232a;
	padding-bottom: 1rem;
	padding-top: 1rem;
	overflow: hidden;
}
 
 @media only screen and (min-width: 404px) {
 	.fa-connectdevelop {
		font-size: 4rem;
		color: white;
	}
 }

@media only screen and (max-width: 404px) {
	.fa-connectdevelop {
		font-size: 20vw;
		color: white;
	}
}

.toggler {
	margin-top: 1vw;
	font-size: 10vw;
	color: white;
	background-color: transparent;
	border-color: transparent;
	float: right;
}

@media only screen and (max-width: 404px) {
	.toggler {
		display: block;
	}
}

@media only screen and (min-width: 404px) {
   .toggler {
   	 display: none;
   }
}